@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}
